<table class='table table-striped table-condensed'>
  <tr>
    <td class='key'>Name:</td>
    <% if school['url'] %>
      <td class='value'><%= link_to school['name'], school['url'] %></td>
    <% else %>
      <td class='value'><%= school['name'] %></td>
    <% end %>
  </tr>

  <tr>
    <td class='key'>GI Bill Accepted</td>
    <td class='value'>
      <%= school['va_accepted'] ? 'Yes' : 'No' %>
    </td>
  </tr>

  <tr>
    <td class='key'>Commitment</td>
    <td class='value'>
      <%= school['full_time'] ? 'Full Time' : 'Part Time' %>
    </td>
  </tr>

  <tr>
    <td class='key'>Hardware Included</td>
    <td class='value'>
      <%= school['hardware_included'] ? 'Yes' : 'No' %>
    </td>
  </tr>

  <tr>
    <td class='key'>Address</td>
    <td class='value'>
      <%= school['address1'] %><br />
      <% if school['address2'] %>
        <%= school['address2'] %><br />
      <% end %>
      <%= school['city'] %> <%= school['state'] %> <%= school['zip'] %>
    </td>
  </tr>
  <% if school['notes'] %>
    <tr>
      <td class='key'>Notes</td>
      <td class='value'><%= school['notes'] %></td>
    </tr>
  <% end %>
</table>
