<div class='container'>
  <div class='row' style='margin-top: 70px;'>

    <h2>Code Schools</h2>
    <p>
      Code Schools, coding bootcamps, vocational schools for aspiring programmers are the
      modern day Ford training plants uniquely designed to teach you to start writing software
      on day-one for today's jobs. They are hands-on accelerated learning programs that are both
      practical and immediately applicable for software developer entry jobs. Each code school listed
      below range between 3 to 9 months in length, vary in tuition costs (free to $17k), and in
      programming language.  Often dsirable from the employer standpoint, they are founded by software
      developers who saw a need in the marketplace for more programmers.
    </p>

    <p>
      Currently, three code schools at this time are licensed and accredited by the VA to accept the 
      New GI Bill. Don't see your code school? <%= link_to 'PRs welcome', 'https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md' %>.
    </p>

    <h3>VA Approved Schools</h3>
    <% @va_accepted_code_schools.each do |school| %>
      <%= render partial: 'code_school', locals: { school: school } %>
    <% end %>

    <h3>By State</h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% @code_schools_by_state.each do |state| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= state[0] %>" aria-expanded="true" aria-controls="collapseOne">
            <% if state[0].length > 3 %>
              <%= state[0] %>
            <% else %>
              <%= @country.subregions.coded(state[0]) %>
            <% end %>
            </a>
          </h4>
        </div>
        <div id="collapse_<%= state[0] %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% state[1].each do |school| %>
              <%= render partial: 'code_school', locals: { school: school } %>
              <hr />
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
