<p>
Hooah! Thanks for signing up and joining us in this important fight!
As many of you know I got off active-duty last year and applied to code school, but couldn't use my New GI Bill. 
So like any great hacker I'm self-taught. Here's some of the places I've learned at: 
</p>

<ul>
  <li>
  	<%= link_to "Programming 'M!' (Good starting point)", "http://programming-motherfucker.com/become.html" %>
  </li>
  <li>
  	<%= link_to "CodeAcademy", "http://www.codecademy.com/" %>
  </li>
  <li>
  	<%= link_to "Thinkful", "http://www.thinkful.com/" %>
  </li>
  <li>
  	<%= link_to "HackHands", "https://hackhands.com/" %>
  </li>
</ul>

<p>Good Reading:</p>

<ul>
  <li>
  	<%= link_to "Learn to Program by Chris Pine", "https://pine.fm/LearnToProgram/" %>
  </li>
  <li>
  	<%= link_to "Hackers & Painters by Paul Graham", "http://www.paulgraham.com/hp.html" %>
  </li>
</ul>

<p>Conferences:</p>

<ul>
  <li>
  	<%= link_to "RailsConf", "http://railsconf.com/" %>
  </li>
  <li>
  	<%= link_to "Techstars Patriot Boot Camp", "http://www.techstars.com/patriotbootcamp/" %>
  </li>
</ul>

<p>
  Lastly, help us get the word out by sharing OperationCode with your battle buddies and friends: http://lnc.hr/PY6P0	
</p>

<p>
  Thank you, we'll be in touch,<br />

  David Molina (<%= link_to "@davidcmolina", "https://twitter.com/davidcmolina"%>)<br />
  Founder, OperationCode; <br />
  Self-Taught Programmer, and Former U.S. Army Captain
</p>