<p>
Dear <%= @veteran.name %>, <br />
<p>Thanks for signing up and joining our ranks! I'm honored and humbled by your participation.</p>

<p>As you may know I applied to code school while still on active-duty w/ my New GI Bill and was shocked to know I couldn't use it. This was in 2012. Again, I tried in 2014 and same answer. While I've self-learned, attended a <a href="http://angelhack.com/">Hackathon</a>, both <a href="http://bmoreonrails.org/">Bmore on Rails</a> and <a href="http://pdxruby.org/">Portland Ruby Brigade</a>, enrolled in <a href="http://www.thinkful.com/">Thinkful</a> and use <a href="https://hackhands.com/">HackHands</a> regularly it's still challenging to learn to code over the long-run while still meeting monthly obligations to family. I don't believe it's the best way to learn in particular for Veterans transitioning. It shouldn't be this challenging whether we are serving our country or as a veteran.</p>

<p>As an unemployed/underemployed Veteran, I decided to do something about it last summer after learning enough Ruby on Rails to gather signatures of military/ Veterans to petition Congress to expand the New GI Bill to include code school tuition, room and board. Many stepped up to tackle this issue. U.S. Army Veteran Charles Sipe wrote, <a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why Veterans Will Make Excellent Programmers,"</a> and Susy Raybon took <a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans">interest</a> in Operation Code which has helped us grow our ranks. Ruby on Rails developer Dr. James Davis became our first <a href="https://github.com/davidmolina/operationcode/graphs/contributors">contributor</a> and is helping drive the future architecture that will support our growth. But we need each of you to share your story of service to country, desire to learn to code, and challenges you face not being able to leverage the New GI Bill to cover tuition, room and board. .</p>

<p>In January we evolved as a non-profit and expanded our team to more effectively accomplish our mission all while expanding our scope to include code school scholarships and software mentorship. Our crowdfunding campaign to raise $7.5m is in full-swing to award coding scholarships until the New GI Bill kicks in. In the intermediate, you can request an invite to our <a href="https://operation-code.slack.com">Slack</a> community to start learning HTML/CSS, Java, JavaScript, Golang, Ember, iOS, Android, and Ruby). Read our previous SITREPs <a href="http://us10.campaign-archive1.com/home/?u=0ab8e2b2d6c6608926c4f17d6&id=809aaab2df">to learn more</a>.</p>

<p>Again, welcome aboard and thank you for joining us in this important fight as we get more military Veterans coding for gainful employment as software developers and fill the nation's technical talent shortage with American patriots. Follow Operation Code on <a href="https://twitter.com/operation_code">Twitter</a>, <a href="https://www.facebook.com/operationcode.org">Facebook, and <a href="https://instagram.com/operation_code/">Instagram and say hi.</p>

<p>-David Molina (<%= link_to "@davidcmolina", "https://twitter.com/davidcmolina"%>)<br />
Founder & Executive Director, Operation Code; <br />
Self-Taught Programmer, and <a href="https://twitter.com/davidcmolina/status/293833974575415298">former U.S. Army Captain</a><br />
<a href="http://davidmolina.github.io/">http://davidmolina.github.io/</a>
</p>

<p>PS: Oh, and here's some of the places I've learned at in case you want to get coding today:
</p>

<ul>
  <li>
    <%= link_to "Programming 'M!' (Good starting point)", "http://programming-motherfucker.com/become.html" %>
  </li>
  <li>
    <%= link_to "Codecademy", "http://www.codecademy.com/" %>
  </li>
  <li>
    <%= link_to "Thinkful", "http://www.thinkful.com/" %>
  </li>
  <li>
    <%= link_to "HackHands", "https://hackhands.com/" %>
  </li>
</ul>

<p>Good reads:</p>

<ul>
  <li>
    <%= link_to "Learn to Program by Chris Pine", "https://pine.fm/LearnToProgram/" %>
  </li>
  <li>
    <%= link_to "Hackers & Painters by Paul Graham", "http://www.paulgraham.com/hp.html" %>
  </li>
</ul>

<p>Developer Conferences:</p>

<ul>
  <li>
    <%= link_to "RailsConf", "http://railsconf.com/" %>
  </li>
  <li>
    <%= link_to "Cascadia Ruby", "http://cascadiarubyconf.com/" %>
  </li>
  <li>
    <%= link_to "Ruby on Ales", "https://ruby.onales.com/" %>
  </li>
</ul>
