<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-12" role="main">
      <h1 id="download"></h1>
      <h2><i>Just imagine for a moment if our grandparents had come back after WWII only to find out they couldn't use their GI Bill education benefits to seamlessly train for the Ford assembly plants of their day. These training plants are the modern day code schools that are training the next generation of knowledge workers and building the future.</h2></i>
      <p>In 2012, I applied to code school while still a U.S. Army Captain on active-duty and was shocked to know I couldn't use my New GI Bill. I tried again in 2014 to no avail. While I've self-learned, attended an <a href="http://angelhack.com/">AngelHack hackathon</a>, meetups at <a href="http://bmoreonrails.org/">B'more on Rails</a> and <a href="http://pdxruby.org/">Portland Ruby Brigade</a>, enrolled in <a href="http://www.thinkful.com/">Thinkful</a> front-end, and use <a href="https://hackhands.com/">HackHands</a> regularly, transitioning from military service to careers as software developers in the 21st century shouldn't be this challenging.</p>
      <p>As an unemployed/underemployed veteran, I decided to do something about it last summer after learning enough Ruby on Rails and getting massive encouragement from fellow rubyists and launched Operation Code to help get more military veterans coding. Many immediately stepped in to tell our story. Charles Sipe penned, "<a href="https://www.switchup.org/blog/why-veterans-will-make-excellent-programmers">Why Veterans Will Make Excellent Programmers</a>," and Susy Raybon wrote, "<a href="http://www.examiner.com/article/operation-code-provides-career-opportunities-for-military-veterans">Operation Code provides career opportunities for military veterans</a>." More recently, Teresa Mahoney, <a href="/media">interviewed</a> over a dozen veterans aspiring to be software developers and several code school directors.</p>
      <p>Army veteran and software developer, Dr. James Davis became our first mentor for our Software Mentor Protégé Program. More recently, Army veteran and iOS/Android developer, Fernando Paredes expanded on our software mentorship program into Slack helping veterans get coding in Android, C Sharp, Ember, Go, HTML, iOS, Java, JavaScript, Jekyll, Middleman, PHP, Python, and Ruby in our Peer-to-Peer community.</p>
      <p>This is an important fight. Doing our part to get more military veterans coding for gainful employment as software developers and putting a serious dent in our nation's technical talent shortage with American patriots is an honor.</p>
      <p>We hope you'll <a href="http://operationcode.org/action">join us</a> as we work to close this gap.</p>
      <p>&mdash;David</p>
    </div>
  </div>
</div>
<!--     <ul>
  <li>
    <%= link_to "Codecademy", "http://www.codecademy.com/" %>
  </li>
  <li>
    <%= link_to "GoRails", "https://gorails.com/" %>
  </li>
  <li>
    <%= link_to "CodeSchool", "https://www.codeschool.com/" %>
  </li>
  <li>
    <%= link_to "Programming 'M!' (Good starting point)", "http://programming-motherfucker.com/become.html" %>
  </li>
</ul>
<p>Good reads:</p>
<ul>
  <li>
    <%= link_to "Learn to Program", "https://pine.fm/LearnToProgram/" %>
  </li>
  <li>
    <%= link_to "Hackers & Painters", "http://www.paulgraham.com/hp.html" %>
  </li>
</ul>
<p>Conferences:</p>
<ul>
  <li>
    <%= link_to "RailsConf", "http://railsconf.com/" %>
  </li>
  <li>
    <%= link_to "Cascadia Ruby", "http://cascadiarubyconf.com/" %>
  </li>
  <li>
    <%= link_to "Ruby on Ales", "https://ruby.onales.com/" %>
  </li>
  <li>
    <%= link_to "Signal", "https://signal.twilio.com/" %>
  </li>
</ul> -->
