<div class="container">
  <div class="row">
    <%= render partial: 'profile/tabs' %>
  </div>

  <div class="row">
    <div class="col m5" role="main">

      <%= card(title: 'Account Details', icon: { name: :settings, path: profile_edit_path } ) do %>
        <%=  render partial: 'profile/home/details' %>
      <% end %>
    </div>

    <div class="col m5" role="main">
      <%= card(title: 'Bio', icon: { name: :settings, path: profile_edit_bio_path } ) do %>
        <%=  render partial: 'profile/home/bio' %>
      <% end %>
    </div>
  </div>
</div>
