<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('operationcode_logo.svg'),root_path, class: 'navbar-brand'%>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      <li><%= link_to 'Join', action_path %></li>

      <li><%= link_to 'Blog', blog_path %></li>

      <li><%= link_to 'Code Schools', codeschools_path %></li>

      <li><%= link_to 'Calendar', calendar_path %></li>

      <li><%= link_to 'Contact', contact_path %></li>

      <li><%= link_to 'Donate', donate_path %></li>
      
      <li><%= link_to 'about', about_path %></li>
      </ul>
    </div>
  </div>
</nav>
