<ul id="about" class="dropdown-content">
  <li><%= link_to 'About Operation Code', about_path %></li>
  <li><%= link_to 'History', history_path %></li>
  <li><%= link_to 'Frequently Asked Questions', faq_path %></li>
  <li><%= link_to 'Press Coverage', press_path %></li>
  <li><%= link_to 'GI Bill Updates', newgibill_path %></li>
  <li><%= link_to 'Sponsors', sponsors_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'Staff', staff_path %></li>
  <li><%= link_to 'Board of Directors', board_path %></li>
</ul>

<ul id="programs-and-services" class="dropdown-content">
  <li><%= link_to 'Software Mentorship', mentorship_path %></li>
  <li><%= link_to 'Scholarships', scholarships_path %></li>
  <li><%= link_to 'Code Schools', code_schools_path %></li>
  <li><%= link_to 'Employer Services', employers_path %></li>
  <li><%= link_to 'Web Development', deploy_path %></li>
</ul>

<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to image_tag('operationcode_logo.svg'), root_path, class: 'brand-logo'%>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <span>MENU</span>
        <i class="material-icons">menu</i>
      </a>

      <ul class="right hide-on-med-and-down">
        <li class='grey-text'><a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="about">About<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a class="dropdown-button" href="#!" data-constrainwidth="false" data-beloworigin="true" data-activates="programs-and-services">What We Do<i class="material-icons right">arrow_drop_down</i></a></li>

        <li><%= link_to 'Success Stories', success_stories_path %></li>
        <li><%= link_to 'Blog', 'https://medium.com/operation-code', target: '_blank' %></li>
        <li>
          <a class="btn" href="https://donorbox.org/operationcode"
            data-constrainwidth="false" data-beloworigin="true" data-activates="Donate">Donate</a>
        </li>

        <% if veteran_signed_in? %>
          <li><%= link_to 'Profile', profile_path %></li>
          <li><%= link_to 'Sign Out', destroy_veteran_session_path, method: :delete %></li>
        <% else %>
          <li>
            <% ab_test(:signup_button_size, 'btn btn-large', 'btn') do |button_size| %>
            <%= link_to 'Join', new_veteran_registration_path, class: button_size, style: 'background-color: #B23900;' %>
            <% end %>
          </li>
          <% end %>
      </ul>

      <ul id="nav-mobile" class="side-nav black-text">
        <li><h6>About</h6></li>
        <li><%= link_to 'About Operation Code', about_path %></li>
        <li><%= link_to 'History', history_path %></li>
        <li><%= link_to 'Frequently Asked Questions', faq_path %></li>
        <li><%= link_to 'Press Coverage', press_path %></li>
        <li><%= link_to 'GI Bill Updates', newgibill_path %></li>
        <li><%= link_to 'Sponsors', sponsors_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Staff', staff_path %></li>
        <li><%= link_to 'Board of Directors', board_path %></li>
        <li role="separator" class="divider"></li>

        <li><h6>What We Do</h6></li>
        <li><%= link_to 'Software Mentorship', mentorship_path %></li>
        <li><%= link_to 'Scholarships', scholarships_path %></li>
        <li><%= link_to 'Code Schools', code_schools_path %></li>
        <li><%= link_to 'Employer Services', employers_path %></li>
        <li><%= link_to 'Web Development', deploy_path %></li>
        <li role="separator" class="divider"></li>

        <li><%= link_to 'Success Stories', success_stories_path %></li>
        <li><%= link_to 'Blog', 'https://medium.com/operation-code' %></li>
        <li role="separator" class="divider"></li>

        <a class="btn" href="https://donorbox.org/operationcode"
            data-constrainwidth="false" data-beloworigin="true" data-activates="Donate">Donate</a>

        <li role="separator" class="divider"></li>

        <% if veteran_signed_in? %>
          <li><%= link_to 'Profile', profile_path %></li>
          <li><%= link_to 'Sign Out', destroy_veteran_session_path, method: :delete %></li>
        <% else %>
          <li>
            <% ab_test(:signup_button_size, 'btn btn-large', 'btn') do |button_size| %>
            <%= link_to 'Join', new_veteran_registration_path, class: button_size, style: 'background-color: #B23900;' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
