<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
    data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><code>&lt;Operation Code&gt;</code></a>
</div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">

      <li>
        <%= link_to news_path do %>NEWS & UPDATES<% end %>
      </li>

      <li>
        <%= link_to codeschools_path do %> CODE SCHOOLS<% end %>
      </li>

      <li>
        <%= link_to learn_path do %> LEARN TO CODE<% end %>
      </li>

      <li>
        <%= link_to hackathons_path do %> HACKATHONS<% end %>
      </li>

      <li>
        <%= link_to action_path do %> TAKE ACTION<% end %>
      </li>

    </ul>
    </div>
  </div>
</nav>
