<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="lg-button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

 <%= link_to image_tag('operationcode.png', width: 175),root_path, class: 'navbar-brand'%>
   </div>
 <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
      <li>
         <%= link_to about_path do %>About Operation Code<% end %>
      </li>

      <li>
         <%= link_to events_path do %>Events<% end %>
      </li>

      <li>
         <%= link_to news_path do %>New GI Bill Updates<% end %>
      </li>

      <li>
        <%= link_to codeschools_path do %> Code Schools<% end %>
      </li>

      <li>
        <%= link_to learn_path do %> Online Code Bootcamps<% end %>
      </li>

      <li>
        <%= link_to hackathons_path do %> Hackathons<% end %>
      </li>

      <li>
        <%= link_to action_path do %> Join<% end %>
      </li>
    </ul>
    </div>
  </div>
</div>
</nav>
